/* @import url(""https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">") */
body {
  font-family: "Roboto", cursive;
  background-color: aquamarine;
  text-align: center;
  background-attachment: fixed;
}
button {
  font-family: inherit;
  padding: 1rem;
  margin: 1rem;
  background: white;
  box-shadow: 0 0 5px #747474;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
