.popup {
  z-index: 1;
  background: rgb(243, 104, 104);
  padding: rem;
  width: 40%;
  min-height: 25%;
  border-radius: 5px;

  display: grid;
  justify-items: center;
  align-items: center;
  margin: -900px auto;
}
